{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "php"
        ],
        "plugins": [
          "line-numbers",
          "line-highlight"
        ],
        "css": true
      }
    ]
  ]
}
