/node_modules
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
bower_components
storage/media
public/media
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache
public/sitemap.xml
/public/storage
.phpunit.result.cache
.php-cs-fixer.cache

# Ignore compiled frontend code
/public/css/*.css
/public/js/*.js
/public/mix-manifest.json
rr
.rr.yaml
